{% extends "layout.html" %}

{% block content %}
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">Sr No.</th>
    <th scope="col">Car Type</th>
    <th scope="col">Sample Image</th>
    <th scope="col">Number of Doors</th>
    <th scope="col">Max Seating Capacity</th>
    <th scope="col">Max Baggage Capacity</th>
  </tr>
  </thead>
  <tbody>
  <tr>
      <th scope="row">1]</th>
      <td>Hatchback</td>
      <td><a href="http://media.caranddriver.com/images/11q2/395918/ford-focus-se-manual-hatchback-test-review-car-and-driver-photo-400464-s-original.jpg">http://media.caranddriver.com/images/11q2/395918/ford-focus-se-manual-hatchback-test-review-car-and-driver-photo-400464-s-original.jpg</a></td>
      <td>4</td>
      <td>5</td>
      <td>2</td>
  </tr>
  <tr>
      <th scope="row">2]</th>
      <td>Sedan</td>
      <td><a href="https://stickeroid.com/uploads/pic/fx0n217l-full/e833e2c4e6e83ba816f2fc3da4bff2238339fb75.png">https://stickeroid.com/uploads/pic/fx0n217l-full/e833e2c4e6e83ba816f2fc3da4bff2238339fb75.png</a></td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
  </tr>
  <tr>
      <th scope="row">3]</th>
      <td>MPV</td>
      <td><a href="https://s.aolcdn.com/dims-global/dims3/GLOB/legacy_thumbnail/788x525/quality/85/https://s.aolcdn.com/commerce/autodata/images/CAB40MAV091B0101.jpg">https://s.aolcdn.com/dims-global/dims3/GLOB/legacy_thumbnail/788x525/quality/85/https://s.aolcdn.com/commerce/autodata/images/CAB40MAV091B0101.jpg</a></td>
      <td>4</td>
      <td>8</td>
      <td>3-4</td>
  </tr>
  <tr>
      <th scope="row">4]</th>
      <td>SUV</td>
      <td><a href="https://crdms.images.consumerreports.org/prod/cars/cr/car-groups/103-11327">https://crdms.images.consumerreports.org/prod/cars/cr/car-groups/103-11327</a></td>
      <td>4</td>
      <td>8</td>
      <td>4</td>
  </tr>
  <tr>
      <th scope="row">5]</th>
      <td>Coupe</td>
      <td><a href="https://file.kbb.com/kbb/vehicleimage/evoxseo/cp/m/12643/2018-ford-mustang-front_12643_032_376x188_yz.png">https://file.kbb.com/kbb/vehicleimage/evoxseo/cp/m/12643/2018-ford-mustang-front_12643_032_376x188_yz.png</a></td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
  </tr>
  <tr>
      <th scope="row">6]</th>
      <td>Convertible</td>
      <td><a href="https://file.kbb.com/kbb/vehicleimage/evoxseo/cp/m/10757/2016-ford-mustang-front_10757_032_376x188_yz.png">https://file.kbb.com/kbb/vehicleimage/evoxseo/cp/m/10757/2016-ford-mustang-front_10757_032_376x188_yz.png</a></td>
      <td>2</td>
      <td>5</td>
      <td>2</td>
  </tr>
  </tbody>
</table>
<p>
    <b>Hatchback:<br></b>

    The distinguishing feature of a hatchback is a hatch-type rear door that opens upwards and is hinged at roof level <br>
    (as opposed to the trunk lid of a sedan, which is hinged below the rear window). Most hatchbacks use a two-box design <br>
    body style, where the cargo area (trunk/boot) and passenger areas are a single volume. The rear seats can often <br>
    be folded down to increase the available cargo area. Hatchbacks may have a removable rigid parcel shelf, or <br>
    flexible roll-up tonneau cover to cover the cargo space behind the rear seats.
</p>
<p>
    <b>Sedan:<br></b>

    The primary purpose of the sedan is to transport people and their baggage on ordinary roads. Sedan versions of the <br>
    automobile body style have a central pillar (B-pillar) that supports the roof and come in two- and four-door versions.<br>
    Sedans usually have a two-box or three-box body.<br>

    The shape and position of the automobile greenhouse on both two- and four-door sedans may be identical, with only the <br>
    center B-pillar positioned further back to accommodate the longer doors on the two-door versions. For example, 1962 <br>
    Rambler Classic sedans feature identical windshield, A-pillar, roof, C-pillar, and rear window. The two-door sedans have <br>
    longer doors and include roll down rear side window and even a quarter window that is shaped to follow the reverse slant <br>
    of the C-pillar, just like on the rear doors of the four-door sedans.
</p>
<p>
    <b>MPV:<br></b>

    Generally, compact MPVs are five and seven-seaters — the first and (if present) third rows with two seats and the middle <br>
    row with three. The two rear seats are sometimes smaller than the others, enough for children or for short distances. In <br>
    some cars, these seats can only carry a limited weight (less than an adult's weight). Some manufacturers offer the third <br>
    row seating as an option, and a few offer two distinct models, one of them strictly five-seater, and the other with either<br>
    fixed or removable additional sixth and seventh passenger seats — examples include the Citroën C4 Grand Picasso, the Renault<br>
    Grand Scénic and the Volkswagen Golf Plus, Touran.


</p>
<p>
    <b>SUV:<br></b>

    Although designs vary, SUVs have historically been passenger vehicles with a separate body on a chassis taken from some<br>
    kind of light truck, commercial vehicle, pick-up or off-road vehicle. SUVs are typically of a two-box design, with the <br>
    engine compartment in front, and a combined reconfigurable passenger and cargo compartment behind it, instead of having <br>
    a separate trunk.[nb 7] Early SUVs were frequently two-door open-body models with removable tops, like classic Jeeps, or <br>
    large station wagon-like vehicles, like carryalls / suburbans or travelalls.<br>

    SUVs typically have high ground clearance, big wheels, a tall (and historically boxy) body, and upright (high H-point) <br>
    seating. This can make them more likely to roll over due to their high center of gravity. Bodies of SUVs have recently <br>
    become more aerodynamic, but the sheer size and weight keeps their fuel economy poor. Most mid-size and full-size SUVs <br>
    have three rows of seats with a cargo area directly behind the last row of seats. Cargo barriers are often fitted to the <br>
    cargo area to protect the vehicles occupants from injury from unsecured cargo in the event of sudden deceleration or <br>
    collision.


</p>
<p>
    <b>Coupe:<br></b>
    A coupé is often considered to be a two-door car (in contrast to a four-door sedan/saloon), however several other definitions<br>
    also exist.

    In 1977, International Standard ISO 3833-1977 defined a coupé as having a closed body, usually with limited rear volume, a fixed<br>
    roof of which a portion may be openable, at least two seats in at least one row, two side doors and possibly a rear opening, and<br>
    at least two side windows.

    Today, coupé is sometimes used by manufacturers as a marketing term, rather than a technical description of a body style. This is<br>
    because coupés in general are seen as more streamlined and sportier overall lines than those of comparable four-door sedans.<br>
    One dictionary states that a coupé is shorter than a sedan/saloon of the same model.
</p>
<p>
    <b>Convertible:<br></b>

    A convertible or cabriolet is a passenger car that can be driven with or without a roof in place. The methods of retracting and <br>
    storing the roof vary between models. A convertible allows an open-air driving experience, with the ability to provide a roof when required. <br>
    Potential drawbacks of convertibles are reduced structural rigidity (requiring significant engineering and modification to counteract the <br>
    effects of removing a car's roof) and cargo space.
</p>
    </div>
</div>

{% endblock %}
