{% extends "layout.html" %}

{% block content %}
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">Sr No.</th>
    <th scope="col">Car Type</th>
    <th scope="col">Sample Image</th>
    <th scope="col">Number of Doors</th>
    <th scope="col">Max Seating Capacity</th>
    <th scope="col">Max Baggage Capacity</th>
  </tr>
  </thead>
  <tbody>
  <tr>
      <th scope="row">1]</th>
      <td>Hatchback</td>
      <td><a href="http://media.caranddriver.com/images/11q2/395918/ford-focus-se-manual-hatchback-test-review-car-and-driver-photo-400464-s-original.jpg">http://media.caranddriver.com/images/11q2/395918/ford-focus-se-manual-hatchback-test-review-car-and-driver-photo-400464-s-original.jpg</a></td>
      <td>4</td>
      <td>5</td>
      <td>2</td>
  </tr>
  <tr>
      <th scope="row">2]</th>
      <td>Sedan</td>
      <td><a href="https://stickeroid.com/uploads/pic/fx0n217l-full/e833e2c4e6e83ba816f2fc3da4bff2238339fb75.png">https://stickeroid.com/uploads/pic/fx0n217l-full/e833e2c4e6e83ba816f2fc3da4bff2238339fb75.png</a></td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
  </tr>
  <tr>
      <th scope="row">3]</th>
      <td>MPV</td>
      <td><a href="https://s.aolcdn.com/dims-global/dims3/GLOB/legacy_thumbnail/788x525/quality/85/https://s.aolcdn.com/commerce/autodata/images/CAB40MAV091B0101.jpg">https://s.aolcdn.com/dims-global/dims3/GLOB/legacy_thumbnail/788x525/quality/85/https://s.aolcdn.com/commerce/autodata/images/CAB40MAV091B0101.jpg</a></td>
      <td>4</td>
      <td>8</td>
      <td>3-4</td>
  </tr>
  <tr>
      <th scope="row">4]</th>
      <td>SUV</td>
      <td><a href="https://crdms.images.consumerreports.org/prod/cars/cr/car-groups/103-11327">https://crdms.images.consumerreports.org/prod/cars/cr/car-groups/103-11327</a></td>
      <td>4</td>
      <td>8</td>
      <td>4</td>
  </tr>
  <tr>
      <th scope="row">5]</th>
      <td>Coupe</td>
      <td><a href="https://file.kbb.com/kbb/vehicleimage/evoxseo/cp/m/12643/2018-ford-mustang-front_12643_032_376x188_yz.png">https://file.kbb.com/kbb/vehicleimage/evoxseo/cp/m/12643/2018-ford-mustang-front_12643_032_376x188_yz.png</a></td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
  </tr>
  </div>
</div>

{% endblock %}
