{% extends "layout.html" %}

{% block content %}
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">Sr No.</th>
    <th scope="col">Car Type</th>
    <th scope="col">Sample Image</th>
    <th scope="col">Number of Doors</th>
    <th scope="col">Max Seating Capacity</th>
    <th scope="col">Max Baggage Capacity</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  </div>
</div>

{% endblock %}
